@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-feature-settings: "ss01", "ss02", "cv01";
  }
  body {
    @apply font-sans antialiased;
  }
  h1, h2, h3, .font-display {
    font-family: theme("fontFamily.display");
  }
}
